<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<label>Name</label>
<input #text type="text" />
<div>
  <button type="submit" (click)="display(text.value)">submit</button>
</div>
<br />
<input type="text" [(ngModel)]="messagedata" />
<br />
<br />
<input type="text" [(ngModel)]="message2data" />
<br />
<p>{{ outputdata }}</p>

<app-child
  [message]="messagedata"
  [inputMessage]="inputdata"
  [message2]="message2data"
  (messageEvent)="newmessage($event)"
  (messageEvent2)="newmessage2($event)"
></app-child>
